<ion-footer>
    <ion-toolbar color="primary">
        <div class="navbarContainer">
          <div class="navbarItem"><h2 class="navbarItemText">inicio</h2></div>
          <div class="navbarItem"><h2 class="navbarItemText">inicio</h2></div>
          <div class="navbarItem"><h2 class="navbarItemText">inicio</h2></div>
          <div class="navbarItem"><h2 class="navbarItemText">inicio</h2></div>
          <div class="navbarItem"><h2 class="navbarItemText">inicio</h2></div>
        </div>
    </ion-toolbar>
</ion-footer>