* {
    margin: 0;
    padding: 0;
    left: 0;
}

.orderDetailTitle {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.orderDetailTitle > h1 {
    font-family: mainFontBold;
}

.dividingLineContent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.dividingLine{
    background-color: var(--ion-color-secondary);
    height: 1px;
    width: 80%;
    align-self: center;
    margin-top: 10px;
}

.itemListing {
    margin-bottom: 65px;
}

.orderFinalDetailContainer {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 67.5px;
}

.orderFinalDetail {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-left: 65px;
    margin-right: 65px;
    background-color: var(--ion-color-primary-contrast);
    height: 40px;
    border: 3px solid var(--ion-color-secondary);
    border-radius: 8px;
    text-align: center;
}