<ion-app>
	<mainHeader></mainHeader>

	<ion-content [fullscreen]="true">
    <div class="orderDetailTitle">
      <h1 class="orderTitle">Detalles del pedido</h1>
      <h3>{{orderId}}</h3>
    </div>

		<div class="dividingLineContent">
			<div class="dividingLine"></div>
		</div>

		<div class="itemListing">
			<floatingTag *ngFor="let item of Items" [itemRedirectUrl]="'/product/1'"></floatingTag>
		</div>

		<div class="orderFinalDetailContainer">
			<div class="orderFinalDetail">
				<h1>Total: {{orderPrice}}€</h1>
			</div>
		</div>
	</ion-content>

	<mainNavbar></mainNavbar>
</ion-app>
