* {
    padding: 0;
    margin: 0;
    left: 0;
}

.productImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-image: url('../../../assets/images/unknown.png');
    background-size: cover;
    background-position: center;
}

.productInfo {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
}

.productName {
    font-size: 33px;
    font-family: mainFontBold;
}

.productPrice {
    font-size: 22px;
}

.productDesc {
    margin-left: 13px;
    margin-right: 13px;
    font-size: 20px;
    margin-bottom: 75px;
}