* {
    padding: 0;
    margin: 0;
    left: 0;
}

.productImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-image: url('../../../assets/images/unknown.png');
    background-size: cover;
    background-position: center;
}

.productInfo {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
}

.productName {
    font-size: 33px;
    font-family: mainFontBold;
}

.productPrice {
    font-size: 22px;
}

.productDesc {
    margin-left: 13px;
    margin-right: 13px;
    font-size: 20px;
    margin-bottom: 75px;
}

.shareList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.shareButton {
    width: 45px;
    height: 45px;
    border: 2px solid var(--ion-color-primary);
    border-radius: 9px;
    background-color: var(--ion-color-secondary);
}

.shareImage::part(image) {
    width: 30px;
    margin-left: 5px;
}