<ion-app>
    <smallHeader></smallHeader>

    <ion-content>
        <ion-img class="productImage" src={{productImages[0]}}></ion-img>
        
        <section class="productInfo">
            <h1 class="productName">{{productName}}</h1>
            <h3 class="productPrice">{{productPrice}}€</h3>

            <div class="shareList">
                <button class="shareButton" (click)="shareProduct()">
                    <ion-img class="shareImage" src="/assets/images/link.svg"></ion-img>
                </button>
            </div>

            <h3 class="productDesc">{{productDesc}}</h3>
        </section>

        <floatingButton [text]="'Añadir producto al carrito'" (click)="addProductToCart()"></floatingButton>
    </ion-content>

    <mainNavbar></mainNavbar>
</ion-app>
