<ion-app>
  <ion-content>
    <ion-img class="hiddenImage" src="/assets/images/shh.webp"></ion-img>
    <swiper-container>
      <swiper-slide>
        <ion-img class="sliderImage" src="/assets/images/full_logo.png"></ion-img>
        <h1>Slide primera</h1>
      </swiper-slide>
      <swiper-slide>
        <ion-img class="sliderImage invertColor" src="/assets/images/navbarIco/home.svg"></ion-img>
        <h1>Slide segunda</h1>
      </swiper-slide>  
      <swiper-slide>
        <ion-img class="sliderImage invertColor" src="/assets/images/navbarIco/orders.svg"></ion-img>
        <h1>Slide tercera</h1>
      </swiper-slide>
    </swiper-container>
  </ion-content>
</ion-app>