ion-content {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: beige;
}

swiper-container {
    width: 100%;
    height: 100%;
    background: transparent;
}
 
swiper-slide {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hiddenImage {
    position: absolute;
    left: 0;
    right: 200px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
}

.introSlider {
    position: relative;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.pillowImage {
    position: absolute;
    z-index: 5;
    height: 200px;
    transform: translateX(-20px);
}

.madeInSleepImage {
    position: absolute;
    transform: translateX(60px) translateY(22px);
    z-index: 10;
    height: 200px;
    animation: snooze 1.5s infinite 0.4s;
}

.dreamLetterImage {
    position: absolute;
    height: 60px;
    z-index: 20;
    opacity: 0;
    transform: translateX(50px) translateY(-10px);
    animation: snoozeFloat 1.5s forwards infinite 0.4s;
}

.sliderImage {
    width: 500px;
    height: 200px;
    margin: 10px;
}

.invertColor {
    filter: invert(100%);
}

.sliderText {
    font-size: 18px;
    width: 300px;
    text-align: center;
}

.animatedSliderContent {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.smallSliderImage {
    width: 85px;
    height: 85px;
    animation: littleBounce 2s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.smallSliderImage:nth-child(1) {
    animation-delay: 0.5s;
}

.smallSliderImage:nth-child(2) {
    animation-delay: 1s;
}

.smallSliderImage:nth-child(3) {
    animation-delay: 1.5s;
}

// @keyframes snoozeFloat{
//     0% {
//         transform: translateX(50px) translateY(-10px);
//     }
//     33% {
//         transform: translateX(25px) translateY(-40px);
//     }
//     66% {
//         transform: translateX(50px) translateY(-70px);
//     }
//     100% {
//         transform: translateX(25px) translateY(-100px);
//     }
// }

@keyframes snoozeFloat{
    0% {
        opacity: 0;
        transform: translateX(50px) translateY(-10px) scale(100%);
    } 
    15% {
        opacity: 1;
    } 
    85% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateX(75px) translateY(-100px) scale(140%);
    }
}


@keyframes snooze {
    0% {
        transform: scaleY(100%) translateX(60px) translateY(22px);
    } 
    20% {
        transform: scaleY(90%) translateX(60px) translateY(22px);
    }
    40% {
        transform: scaleY(100%) translateX(60px) translateY(22px);
    }
    100% {
        transform: scaleY(100%) translateX(60px) translateY(22px);
    }
}

@keyframes littleBounce {
    0% {
        transform: translateY(0px) scaleY(100%);
    } 
    25% {
        transform: translateY(-40px) scaleY(110%);
    }
    50% {
        transform: translateY(0px) scaleY(80%);
    }
    65% {
        transform: scaleY(100%);
    }
    100% {
        transform: translateY(0px);
    }
}