* {
    margin: 0;
    padding: 0;
    left: 0;
}

.floatingTagContainer {
    position: relative;
    display: flex;
    align-items: center;
    border: 3px solid var(--ion-color-secondary);
    border-radius: 8px;
    background-color: transparent;
    margin-left: 15px;
    margin-right: 15px;
    gap: 10px;
    height: 85px;
    margin-bottom: 15px;
}

.floatingTagImage {
    width: 25%;
    height: 100%;
    justify-self: left;
    object-fit: cover;
    z-index: -1;
}

.floatingTagText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 23px;
    text-align: center;
}