<ion-app>
	<mainHeader></mainHeader>

	<ion-content [fullscreen]="true">
		<h1 class="cartTitle">Mi carrito</h1>

		<div class="dividingLineContent">
			<div class="dividingLine"></div>
		</div>

		<div class="itemListing">
			<floatingTagInputNum *ngFor="let item of products" [itemRedirectUrl]="'/product/' + item.productId" [itemName]="item.productName" [itemImageUrl]="item.productImageUrl" [itemQuantity]="item.productQuantity" [itemId]="item.productId"></floatingTagInputNum>
		</div>

		<div class="cartFinalizeContainer">
			<div class="cartFinalize">
				<h1>Total: {{cartPrice}}</h1>
				<floatingButton [position]="'static'" [text]="'Finalizar compra'"></floatingButton>
			</div>
		</div>
	</ion-content>

	<mainNavbar></mainNavbar>
</ion-app>
