.introSlider {
    position: relative;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    transform: translateX(-25px);
}

.pillowImage {
    position: absolute;
    z-index: 5;
    height: 200px;
    transform: translateX(-20px);
}

.madeInSleepImage {
    position: absolute;
    transform: translateX(60px) translateY(22px);
    z-index: 10;
    height: 200px;
    animation: snooze 1.5s infinite 0.4s;
}

.dreamLetterImage {
    position: absolute;
    height: 60px;
    z-index: 11;
    opacity: 0;
    transform: translateX(50px) translateY(-10px);
    animation: snoozeFloat 1.5s forwards infinite 0.4s;
}

@keyframes snoozeFloat{
    0% {
        opacity: 0;
        transform: translateX(50px) translateY(-10px) scale(100%);
    } 
    15% {
        opacity: 1;
    } 
    85% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateX(75px) translateY(-100px) scale(140%);
    }
}

@keyframes snooze {
    0% {
        transform: scaleY(100%) translateX(60px) translateY(22px);
    } 
    20% {
        transform: scaleY(90%) translateX(60px) translateY(22px);
    }
    40% {
        transform: scaleY(100%) translateX(60px) translateY(22px);
    }
    100% {
        transform: scaleY(100%) translateX(60px) translateY(22px);
    }
}