* {
    padding: 0;
    margin: 0;
    left: 0;
}

.productsListing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productItem {
    width: 160px;
    position: relative;
    height: 210px;
    border: 3px solid var(--ion-color-secondary);
    border-radius: 25px;
    margin: 10px;
    overflow: hidden;
}

.productImage {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.productName {
    text-align: center;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}